.business-card {
  width: 100%;
  background-color: #ebf8ff;
  text-align: center;
}

.scan-card {
  width: 100%;
  height: 100%;
}

.business-name-title {
  width: 329px;
  height: 85px;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #576a93;
  margin: auto;
  margin: auto;
}

.available-cups {
  width: 262px;
  height: 364px;
  border-radius: 10px;
  border: solid 5px #576a93;
  background-color: #ffffff;
  text-align: -webkit-center;
  margin: auto;
  margin-bottom: 40px;
}

.reserved-cups {
  border: solid 5px #576a93;
  background-color: #576a93;
  text-align: -webkit-center;
  margin-top: 0px;
  border-radius: 0;
}
.recup-available-container{
  padding: 20px 0 0 0;
  margin-bottom: -20px;
}

.update-quantities {
  width: 282px;
  height: 64px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 4px #ffffff;
  background-color: #284355;
  margin-left: -15.5px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.update-quantities-title {
  width: 252px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.available-cups-number {
  width: 96px;
  height: 66px;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #43c96d;
}

.available-cups-title {
  width: 106px;
  height: 58px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #43c96d;
}

.reserved-cups-number {
  width: 96px;
  height: 66px;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.reserved-cups-title {
  width: 104px;
  height: 58px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.scan-barcode {
  width: 322px;
  height: 94px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 4px #ffffff;
  background-color: #43c96d;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.top-bar-image{
  width: 100%;
}

.scan-image{
  width: 100%;
  height: 100%;
}
.scan-barcode-title {
  width: 288px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

